@charset "UTF-8";
@import "tailwindcss";

.shadow-custom {
  /* X-offset, Y-offset, Blur, Spread */
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1); 
}

.hover\:shadow-custom-hover:hover {
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.15); 
}