@charset "UTF-8";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;700;800&display=swap');

main, body{
	overflow:auto;
	font-family: 'Pretendard', sans-serif; 
}

.shadow-custom {
  /* X-offset, Y-offset, Blur, Spread */
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1); 
}

.hover\:shadow-custom-hover:hover {
  box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.15); 
}

.shadow-page {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1); 
}